sonar.host.url=https://sonarqube-locomotion.infor.uva.es
sonar.projectKey=Project Name
sonar.sources=.
#vensim.dictionaryService= http://www.cres.gr/LOCOMOTION_services/webresources/
#vensim.dictionaryUsername=testingservice
#vensim.dictionaryPassword=testing_DD_2020
#vensim.view.module.name=materials
#vensim.view.module.separator= Module/Category Separator
#vensim.view.category.separator= Category/Subcategory Separator